
    .menu-slider-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        gap: 20px; /* Adds space between the menu and slider */
    }

    .menu-section {
        flex: 1;
        padding-right: 20px;
        margin-top: 10px;
        height: 100vh;
    }

    .menu-filter {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        overflow-x: auto; /* Enable horizontal scrolling for the filter buttons */
        padding-bottom: 10px;
    }

    .menu-filter button {
        padding: 8px 16px;
        border: none;
        background-color: #d4c6b6;
        color: white;
        font-weight: bold;
        cursor: pointer;
        flex-shrink: 0; /* Ensures the button doesn’t shrink when scrolling */
    }

    .menu-grid {
        display: flex;
        flex-wrap: wrap;
    }

    .menu-card {
        background-color: white;
        width: 150px;
        margin: 10px;
        padding: 10px;
        text-align: center;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition: transform 0.2s;
    }

    .menu-card img {
        width: 100%;
        border-radius: 8px;
        margin-bottom: 10px;
    }

    .menu-card:hover {
        transform: translateY(-5px);
    }

    /* Best Seller Section */
    .best-seller {
        flex: 0.5;
        text-align: center;
        background-color: blue;
    }

    .best-seller h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .slider {
        width: 100%;
        max-width: 350px;
        margin: auto;
    }

    .best-seller-card {
        align-items: center;
        background-color: rgb(255, 0, 0);
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .best-seller-card h3{
        padding: 15px;
    }

    .cropped-slider .best-seller-card img {
        width: 200px;
        height: 200px; /* Adjust the height for cropping */
        object-fit: cover; /* Ensures cropped and centered image */
        border-radius: 8px;
        margin-bottom: 10px;
    }

    .cropped-slider {
        width: 500px;
        margin: auto;
    }

    .cropped-slider .best-seller-card {
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    /* Responsive Styles */
    @media (max-width: 768px) {
        .menu-slider-wrapper {
            flex-direction: column;
        }

        .menu-section {
            padding-right: 0;
        }

        .best-seller {
            padding-left: 0;
            margin-top: 30px;
        }

        /* Scrollable category filter for mobile */
        .menu-filter {
            justify-content: flex-start;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch; /* Ensures smooth scrolling on mobile */
        }
    }